
body {
  background-color: #00FF00;
    margin-left: 0%;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: "Courier";
    font-size: 10em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.p-small {
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 100%;
  text-align: center, justify;
  color: black;
  line-height: 1.4;

}

.container {
    letter-spacing: inherit;
    line-height: normal;
    text-shadow: 1px 50px 20px #333302;
    color: rgba(55, 40, 60, 100);
    width: 100%;
}

.positioned {
  position: relative;
}
